<!doctype html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">

  <title>Water usage</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

</head>

<body>
{% load static %}
<script src="{% static 'chart/Chart.js' %}">
</script>
<h1>Water usage {{ display_month }}</h1>
{% if allow_back_link %}
<a href="/test?months_back={{ previous_month }}">Previous</a>
{% endif %}
<a href="/test?months_back={{ next_month }}">Next</a>
<style>
    #container {
        width: 50%;
    }
</style>
<div id="container">
    <canvas id="myChart"></canvas>
</div>
<script type="text/javascript">
var ctx = document.getElementById("myChart");
var chartCooridinates = {{ chart_data|safe }};
var data = {
    datasets: [
        {
            label: "Water usage in Liter",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: chartCooridinates,
            spanGaps: false,
        }
    ]
};
var waterUsageChart = new Chart.Line(ctx, {
    type: 'line',
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    //beginAtZero: true
                }
            }],
            xAxes: [{
                ticks: {
                    min: 1,
                    stepSize: 1
                },
                type: 'linear',
                position: 'bottom',
                scaleStartValue : 1
            }]
        }
    }
});
</script>
</body>
</html>